version: 2.1

defaults: &defaults
  working_directory: ~/discord-bot
  docker:
    - image: circleci/node:latest

install_defaults: &install_defaults
  <<: *defaults
  steps:
    - checkout
    - restore_cache:
        keys:
          - v1-discord-bot-{{ arch }}-{{ .Branch }}-{{ checksum "package-lock.json" }}
          - v1-discord-bot-{{ arch }}-{{ .Branch }}
    - run:
        name: Installing Dependencies
        command: npm install
    - save_cache:
        paths:
          - ./node_modules
          - ~/.cache
        key: v1-discord-bot-{{ arch }}-{{ .Branch }}-{{ checksum "package-lock.json" }}
    - persist_to_workspace:
        root: ~/
        paths:
          - discord-bot
          - .cache

lint_defaults: &lint_defaults
  <<: *defaults
  steps:
    - attach_workspace:
        at: ~/
    - run:
        name: Execute Linters and Scanners
        command: |
          npx audit-ci
          yarn fmt:check
          yarn lint --format junit --output-file test-results/eslint/results.xml
        environment:
          NODE_ENV: production
    - store_test_results:
        path: test-results
    - store_artifacts:
        path: test-results

unit_defaults: &unit_defaults
  <<: *defaults
  steps:
    - attach_workspace:
        at: ~/
    - run:
        name: Running Unit Tests
        command: |
          yarn jest --ci --maxWorkers=2 --coverage --coverageReporters=text-lcov | npx coveralls
        environment:
          JEST_JUNIT_OUTPUT: test-results/jest/results.xml
    - store_test_results:
        path: test-results
    - store_artifacts:
        path: test-results

e2e_defaults: &e2e_defaults
  <<: *defaults
  steps:
    - attach_workspace:
        at: ~/
    - run:
        name: Running End-to-End Tests
        command: |
          yarn test:e2e --ci
        environment:
          JEST_JUNIT_OUTPUT: test-results/jest-e2e/results.xml
    - store_test_results:
        path: test-results
    - store_artifacts:
        path: test-results

jobs:
  install:
    <<: *install_defaults
  lint:
    <<: *lint_defaults
  unit:
    <<: *unit_defaults
  e2e:
    <<: *e2e_defaults

workflows:
  version: 2
  discord_bot:
    jobs:
      - install
      - lint:
          requires:
            - install
      - unit:
          requires:
            - install
      - e2e:
          requires:
            - install
